@font-face {
    font-family: 'montserratthin';
    src: url('/assets/fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratthin_italic';
    src: url('/assets/fonts/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/montserrat-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --header-height: 150px;
    --button-transparent-light-color: rgba(208, 198, 176, 0.5);
    --button-transparent-dark-color: rgba(171, 153, 115, 0.5);
    --border-color: #611511;
    --text-color: #1D1C1C;
    font-family: 'montserratthin', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-height: 100vh;
    background-color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("/assets/images/header-background.jpg");
    height: var(--header-height);
    padding: 1rem;
    color: var(--text-color);
    box-shadow: var(--text-color) 0 3px 3px;
    z-index: 100;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 24rem;
    background-color: var(--button-transparent-light-color);
}

#title > h1 {
    font-size: 3rem;
    font-weight: 900;
}

#title > h2 {
    font-size: 1.25rem;
    font-family: 'montserratthin_italic', sans-serif;
}

header > nav {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

header > nav > button {
    height: 3rem;
    width: 8rem;
    background-color: var(--button-transparent-light-color);
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.5rem;
    border: var(--text-color) solid 1px;
    border-radius: 4px;
}

header > nav > button:active {
    background-color: var(--button-transparent-dark-color);
    border: var(--text-color) solid 2px;
}

#content {
    background: url("/assets/images/grilled-skewers.jpg") no-repeat center center;
    flex: 1 1 0;
    width: 80%;
    min-width: 300px;
    max-width: 1066px;
    margin-top: var(--header-height); 
    z-index: 50;
}